@{
    ViewData["Title"] = "Vehicle_Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Your App Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Vehicle/Vehicle_Registration">Vehicle_Registration</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Vehicle/Vehicle_List">All Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login/Login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Vehicle Edit</div>
                <div class="card-body">
                    <form method="post">
                        <!-- <div class="form-group">
                            <label for="vid">Vehicle ID:</label>
                            <input type="text" class="form-control" id="vid" name="vid">
                        </div> -->
                        <div class="form-group">
                            <label for="vno">Vehicle Number:</label>
                            <input type="text" class="form-control" id="vno" name="vno">
                        </div>
                        <div class="form-group">
                            <label for="vprice">Vehicle Price:</label>
                            <input type="text" class="form-control" id="vprice" name="vprice">
                        </div>
                        <div class="form-group">
                            <label for="vcompany">Vehicle Company:</label>
                            <input type="text" class="form-control" id="vcompany" name="vcompany">
                        </div>
                        <!-- <div class="form-group">
                            <label for="date_of_Purchase">Date of Purchase:</label>
                            <input type="text" class="form-control" id="date_of_Purchase" name="date_of_Purchase">
                        </div> -->
                        <div class="form-group">
                            <label for="date_of_Purchase">Date of Purchase:</label>
                            <input type="date" class="form-control" id="date_of_Purchase" name="date_of_Purchase">
                        </div>
                        <div class="form-group">
                            <label for="engine_no">Engine Number:</label>
                            <input type="text" class="form-control" id="engine_no" name="engine_no">
                        </div>
                        <!-- <div class="form-group">
                            <label for="fuel_Type">Fuel Type:</label>
                            <input type="text" class="form-control" id="fuel_Type" name="fuel_Type">
                        </div> -->
                        <div class="form-group">
                            <label for="fuel_Type">Fuel Type:</label>
                            <select class="form-control" id="fuel_Type" name="fuel_Type">
                                <option value="null">Select</option>
                                <option value="petrol">Petrol</option>
                                <option value="diesel">Diesel</option>
                                <option value="electrical">Electrical</option>
                                <option value="cng">CNG</option>
                                <option value="hydrogen">Hydrogen</option>
                            </select>
                        </div><br/><br/>
                        <!-- <div class="form-group">
                            <label for="userId">User ID:</label>
                            <input type="text" class="form-control" id="userId" name="userId">
                        </div> -->

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
