@{
    ViewData["Title"] = "Total_Insurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Your App Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Vehicle/Vehicle_Registration">Vehicle_Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Vehicle/Vehicle_List">All Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login/Login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0 text-center">Total Insurance Premium</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Vehicle ID</th>
                            </tr>
                            <tr>
                                <th>Vehicle Number</th>
                            </tr>
                            <tr>
                                <th>Vehicle Price</th>
                            </tr>
                            <tr>
                                <th>Vehicle Company</th>
                            </tr>
                            <tr>
                                <th>Date of Purchase</th>
                            </tr>
                            <tr>
                                <th>Engine Number</th>
                            </tr>
                            <tr>
                                <th>Fuel Type</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
